<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tracking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color:#282626;">
    <div><canvas aria-label="Hello ARIA World" width="100" height="30" id="dataChart"></canvas></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for('static',filename="charts.js" )}}"></script>
    
</body>
</html>
